[Unit]
Description=zvol snapshotter
After=network.target
Before=containerd.service

[Service]
Type=simple
Environment=HOME=/root
ExecStart=/usr/local/bin/containerd-zvol-grpc --log-level=info --config=/etc/containerd-zvol-grpc/config.toml
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target